body {
    width: max-content;
    margin: 40px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
}

:root {
    --space : 5px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.header-image {
    align-self: flex-start;

}
.header-title {
    text-transform: uppercase;
}

.section {
    margin: 18px 0;
}


.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.li {
    display: flex;
    width: 100%;
    margin: var(--space) 0;
}

.li div:nth-child(1) {
    width: 20%;
}
.li div:nth-child(1) span {
    font-weight: bold;
    vertical-align: middle;
}

.li div:nth-child(2) {
    margin-left: 10%;
    text-align: left;
}

.li div:nth-child(2) input {
    border: 0;
    font-size: 1.3em;
}

.li div:nth-child(2) span {
    font-size: 1.3em;
    vertical-align: middle;
}

.li:not(:last-child) {

    border-bottom: 0.5px solid grey;
}

.information {
    margin : var(--space) 0;
    border: 3px solid black;
    text-align: center;
    font-weight: bold;
}

.table {
    width: 100%;
    text-align: center;
    border : 3px black solid ;
}

th {
    border-color: transparent black black transparent;
    border-width: 0 3px 3px 0;
    text-transform: uppercase;
}

td {
    border-width: 0 3px 3px 0;
}

th:last-child{
    border-color: transparent transparent black transparent;
}


.tbody td {
    border-color: transparent  black transparent transparent;
    border-width: 0 3px 0 0;
    height: 2em;
}

.tbody td input {
    width: max-content;
    border:0;
    font-size: 1.3em;
    text-align: right;

}

.tbody td:last-child{
    border-color: transparent transparent transparent transparent;
}

.tbody tr:last-child td{
    border-color: transparent black black transparent;
    border-width: 0 3px 3px 0;
    
}

.tbody tr:last-child td:last-child{
    border-color: transparent transparent black transparent;
    border-width: 0 3px 3px 0;
    
}

.tbody-lign {
    text-align: right;
    border:  0;
}

.tbody td:last-child{
    border-color: transparent transparent transparent transparent;
}

.tbody tr:last-child td{
    border-color: transparent black black transparent;
    border-width: 0 3px 3px 0;
    
}

.tfoot {
    text-align: right;
}

.tfoot td {
    border-color: transparent transparent black transparent;
}

.tfoot tr:nth-child(2n+1) th {
    border-color: transparent black transparent  transparent;
}

.tfoot tr:last-child td {
    border-color: transparent transparent transparent  transparent;
}

.followed {
    display: flex;
    justify-content: flex-start;
}

.followed div:first-child {
    width: 20%;
}
.followed div:last-child {
    margin-left: 10%;
}

.payment {
    display: flex;
}

.payment div:first-child {
    width:22%;
}

.payment div:first-child span:first-child ,.payment div:last-child span:first-child {
    font-weight: bold;
    text-decoration: underline 3px;
}

.payment div:last-child {
    margin-left: 30%;
}


.signature {
    position: relative;
    margin-left: 75%;
    display: flex;
    justify-content: flex-end; 
    border: 1px solid black;
    padding: 48px;
}

.signature div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8em;
}

.footer {
    margin-top: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer p {
    width: 40%
}

.footer p:last-child {
    text-align: right;
}


